@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'algeria';
        src: url("/fonts/ALGERIA.ttf") format('ttf');
    }
    @font-face {
        font-family: 'doto';
        src: url("/fonts/Doto-Medium.ttf") format('ttf');
    }
}